<h1>Animes que jรก assisti</h1>

<div class="row">
  <% @watched_animes.each do |wa| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
      <%= image_tag wa.anime.image.url %>
      <div class="caption">
        <h3><%= wa.anime.name %></h3>
        <p><%= wa.anime.description[0..100] %></p>
        <p>
          <%= link_to "Ver mais", anime_path(wa.anime), class: 'btn btn-primary' %>
        </p>
      </div>
    </div>
    </div>
  <% end %>
</div>

<%= link_to 'Adicionar novo anime', new_watched_anime_path, class: 'btn btn-success' %>
