<div class="row">
	<div class="col-md-4">
		<%= image_tag @anime.image.url %>
	</div>
	<div class="col-md-8">
		<h2><%= @anime.name %></h2>
		<p class="muted lead"><%= @anime.episodes %> episódio(s)</p>
		<p><%= @anime.description %></p>
		<p>
			<%= link_to 'Editar', edit_anime_path(@anime), class: 'btn btn-primary' if user_signed_in? %>
		</p>
	</div>
</div>

